@import "tailwindcss";

@font-face {
  font-family: 'Reddit';
  src: url('/Fonts/RedditSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}

.reddit-font {
  font-family: 'Reddit', sans-serif;
}
